asn1crypto==0.24.0
backports.functools-lru-cache==1.5
chardet==3.0.4
cryptography==2.1.4
cycler==0.10.0
dot2tex==2.9.0
enum34==1.1.6
idna==2.6
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.1.0
matplotlib==2.2.4
numpy==1.16.3
opencv-python==4.1.0.25
protobuf==3.0.0
psutil==5.4.2
PyAudio==0.2.11
pycairo==1.16.2
pycrypto==2.6.1
pyenchant==2.0.0
pygame==1.9.6
Pygments==2.2.0
pygobject==3.26.1
pyparsing==2.4.0
python-axolotl==0.1.39
python-axolotl-curve25519==0.1
python-dateutil==2.8.0
python-magic==0.4.16
pytz==2019.1
pyxdg==0.25
rpm==4.14.1
SecretStorage==2.3.1
six==1.12.0
subprocess32==3.5.3
wxPython==3.0.2.0
wxPython-common==3.0.2.0
